video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.ama {
  color: white;
  font-size: 100px;
  justify-content: baseline center;
  margin-top: -10px;
}

.video {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.home-container > p {
  margin-top: 150px;
  color: white;
  justify-content: last baseline;
  position: absolute;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

mark.Bay {
  color: black;
  font-size: 100px;
  justify-content: baseline center;
  margin-top: -10px;
  background: none;
}

mark.buying {
  color: black;
  font-size: 32px;
  justify-content: baseline center;
  top: 600px;
  margin-top: -10px;
  background: none;
}

mark.selling {
  color: black;
  font-size: 32px;
  justify-content: baseline center;
  top: 600px;
  margin-top: -10px;
  background: none;
}

.home-btns {
  position: absolute;
  justify-content: center;
}
