{
  "singleQuote": true,
  "semi": false,
  "endOfLine": "auto",
  "[javascriptreact]": {
    "editor.formatOnSave": true,
    "singleQuote": true,
    "semi": false,
    "endOfLine": "auto"
  },
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"]
}
